body{
  text-align: center;
}
div{
  background-color: blue;
  height: 150px;
  border: 5px solid red;
  display: inline-block;
  width: 30%;
}
@media (max-width: 768px){
  div{ 
    width: 45%;
  }
}

@media (max-width: 400px){
  
  div{
    width:100%;
  }
}

#b{
  background-color: green;
  display: none;
}
#a{
  background-color: yellow;  
}
#c{
  background-color: aqua;
} 
@media (min-width: 400px){
  #b{
    display: block;
  }
}
	/*height: 100vh;*/
	/*background-color: green;*/
/*}*/




/*****When our screen is 500px or smaller the bg-color of the body is red****/



/*@media (min-width:1000px){*/
	/*body{ */
		/*background-color: red;*/
			/*}*/
/*}